@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600');
.App {
  background-image: url('./background2.jpg');
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position:50% 20% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;

}

.title { 
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  color:whitesmoke;
  font-size: 75px;
  
  margin-left: 125px;
  padding: 80px 30px;
  width: 30vw;
  border:none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
 
}


.header {
    display: flex;
    height: 100px;
    width: 120px;
    flex-direction: row;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fdfffc;
    font-size:50px;
    align-self: center;
}

