@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600');
.Apps {
  background-image: url('./today.jpg');
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position:50% 20% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: start;

}

.title { 
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  color:whitesmoke;
  font-size: 75px;
  
  margin-left: 125px;
  padding: 80px 30px;
  width: 30vw;
  border:none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
 
} //this is the main button to make it sweet

.loginbox {
  width: 90vw;
}

.App {
background-image: url('./background.jpg');
min-height: 100vh;
min-width: 100vw;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color:#B1b1b1;
font-family: 'Barlow Semi Condensed', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
 
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  border: 2px solid #FFFDFE;
  font-size: 24px;
  margin: auto;
  width: 600px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.input button {
    margin-right: 100px;
}


.next {
    cursor: pointer;
    background-color: rgb(82, 186, 179);
    margin-top: 30px;
    height: 100px; 
    width: 100px;
    align-content: center;
    
}
.introTitle {
    font-size: 50px;
    display:flex;
    align-self: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.leftinfo {
    font-size: 30px;
}

.leftPos {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 800px;
    padding-top: 50px;
    color:rgb(82, 186, 179);
    text-align: center;

}
.inputFirst {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    border: 2px solid #FFFDFE;
    font-size: 24px;
    margin: auto;
    width: 600px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.AppFirst {
 background-image: url('./background.jpg');
 min-height: 100vh;
 min-width: 100vw;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 color:#B1b1b1;
 font-family: 'Barlow Semi Condensed', sans-serif;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.nextIncome {
    cursor: pointer;
    background-color: rgb(82, 186, 179);
    margin-top: 30px;
    height: 100px; 
    width: 100px;
    margin-right: 100px;

}

.header {
    background-image: url('./background.jpg');
    display: flex;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.resume {
    height:65px;
    margin-top:6.5px;
    cursor: pointer;
    background-image: url('./background.jpg');
    border:none;
    color: #fdfffc;
    font-size: 24px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

.topName {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fdfffc;
    font-size:50px;
    align-self: center;

}
.resGame {
    color:#fdfffc;
}